{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@common": "./src/common",
        "@entities": "./src/entities",
        "@repositories": "./src/repositories",
        "@usecases": "./src/usecases"
      }
    }]
  ]
}